/* MESSAGES AND ERROR MESSAGES */
.message_container{
    position: relative;
    margin: auto;
    overflow: hidden;
    height: auto;
    position: relative;
    padding: 10px;
    border-radius: 2px;
    clear: both;
}

/* CONTENT OF THE MESSAGE */
.message_header{
    display: block;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
}

.message_text{
    display: block;
    font-size: 14px;
    text-align: center;
}

.message_close{
    background: url("../assets/icons/cancel.png");
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.message_close > img{
    height: 20px;
    width: 20px;
}

.message_close:hover{
    cursor: pointer;
}

.error_message_container{
    background-color: rgba(255, 0, 0, 0.7);
    border: 1px solid red;
    padding: 20px;
    margin-bottom: 20px;
}

.confirm_message_container{
    background-color: #1499D3;
    border: 1px solid #1761E8;
    color: white;
}

.notification_message_container{
    background-color: orange;
    color: black;
    margin-top: 20px;
    float: left;
    min-width: 300px;
    text-align: left;
    padding: 20px;
}

.notification_message_container .message_header {
    font-size: 24px;
}

.notification_message_container .message_text {
    margin: 0;
    font-size: 20px;
}