/* INDEX and PROFILE CONTENT */
main {
    height: auto;
    min-height: 80%;
    display: flex;
}

section {
    position: relative;
    width: 80%;
    min-width: 568px;
    display: inline-block;
    padding: 3rem;
    background-color: white;
}

.bold_text {
    font-weight: bold;
}

#best_offer > article {
    margin-bottom: 3rem;
}

#best_offer_value {
    font-size: 10rem;
    font-weight: bold;
}

#best_offer_bidder {
    font-size: 3rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay_content {
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
    width: 600px;
    text-align: center;
}

.overlay_outcome_message {
    font-size: 30px;
}

#new_thri_form form {
    height: 90%;
    position: relative;
}

#new_thri_form fieldset {
    border-style: none;
}

#new_thri_form label {
    display: block;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
}

#new_thri_form input {
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    height: 50px;
    margin: 20px auto;
    font-size: 40px;
    text-align: center;
}

#new_thri_form button {
    margin-top: 30px;
}
