/* INDEX and PROFILE CONTENT */
main {
    min-height: 80%;
    height: auto !important;
    height: 80%;
    display: flex;
}

section {
    position: relative;
    width: 80%;
    min-width: 568px;
    display: inline-block;
    padding: 3rem;
    background-color: white;
}

.bold_text {
    font-weight: bold;
}

#best_offer > article {
    margin-bottom: 3rem;
}

#best_offer_value {
    font-size: 10rem;
    font-weight: bold;
}

#best_offer_bidder {
    font-size: 3rem;
}