/* SIDEBAR */
aside {
    position: relative;
    width: 20%;
    min-width: 300px;
    height: 100%;
    display: inline-block;
    background-color: #1D2731;
    color: white;
}

ul {
    position: absolute;
    display: block;
    width: 100%;
}

ul a {
  display: block;
}

#app_actions {
    top: 0;
}

#user_actions {
    bottom: 0;
}

li {
    width: 100%;
    padding: 2rem;
    cursor: pointer;
}

li:hover {
    background-color: var(--sky);
}

li:active {
    background-color: var(--cerulean);
}

.menu_item img {
  float: left;
  margin-right: 1rem;
  height: 24px;
}

.menu_item_text {
  line-height: 24px;
  font-size: 24px;
}