/* SIDEBAR */
aside {
    position: relative;
    width: 20%;
    height: 100%;
    display: inline-block;
    float: left;
    background-color: var(--ivory);
    color: white;
}

ul {
    position: absolute;
    display: block;
    width: 100%;
}

#app_actions {
    top: 0;
}

#user_actions {
    bottom: 0;
}

li {
    width: 100%;
    padding: 2rem;
    cursor: pointer;
}

li:hover {
    background-color: var(--sky);
}

li:active {
    background-color: var(--cerulean);
}