/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Market Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
    font-size: 20px;
    --cerulean: #4484CE;
    --aluminum: #D9D9D9;
    --lightyellow: #F9CF00;
    --tangerine: #F19F4D;
    --prussian: #0B3C5D;
    --sky: #328CC1;
    --gold: #D9B310;
    --ivory: #1D2731;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.bold_text {
    font-weight: bold;
}

/* CONTENT */
main {
    height: 80%;
}

/* APP DATA */
section {
    position: relative;
    width: 80%;
    display: inline-block;
    float: right;
    padding: 3rem;
}

#best_offer {

}

#best_offer > article {
    margin: 3rem 0;
}

#best_offer_value {
    font-size: 10rem;
    font-weight: bold;
}

#best_offer_bidder {
    font-size: 3rem;
}

#best_offer_message {

}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#new_thri_form {
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
}